@model CarRental.Models.RentalContract

@{
    ViewData["Title"] = "Contract Details";
}

<h2>Contract Details</h2>

<div class="card mt-3">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Contract ID</dt>
            <dd class="col-sm-9">@Model.ContractId</dd>

            <dt class="col-sm-3">Customer ID</dt>
            <dd class="col-sm-9">@Model.CustomerId</dd>

            <dt class="col-sm-3">Car</dt>
            <dd class="col-sm-9">@Model.Car?.CarName (@Model.Car?.PlateNumber)</dd>

            <dt class="col-sm-3">Start</dt>
            <dd class="col-sm-9">@Model.StartingDate</dd>

            <dt class="col-sm-3">End</dt>
            <dd class="col-sm-9">@Model.EndingDate</dd>

            <dt class="col-sm-3">Payment ID</dt>
            <dd class="col-sm-9">@Model.PaymentId</dd>

            <dt class="col-sm-3">Approved By</dt>
            <dd class="col-sm-9">@Model.ApprovedById</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.ContractId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary ms-2">Back</a>
    </div>
</div>
